@media (min-width: 650px) {
    .aside-item.mobile {
        display: none;
    }
}

@media (max-width: 649px) {
    .aside-item.desktop {
        display: none;
    }
    .aside-btn.desktop {
        display: none;
    }

    .aside-item.mobile {
        display: inline-block;
    }
}

.aside-item, .aside-btn {
    margin: 3%;
}

.aside-btn {
    display: flex;
    justify-content: space-between;
}

.aside-btn::before {
    display: block;
    content: "";
    width: 1px;
    height: 20px;
    background-color: #e1e2e3;
    margin: auto 20px;
}

.aside-a {
    width: 100%;
    border: 1.6px solid #e1e2e3;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
}

.aside-a:link, .aside-a:visited {
    color: black;
    text-decoration: none;
}