@media (min-width: 650px) {
    .menu-ul {
        justify-content: space-around;
    }
}

@media (max-width: 649px) {
    .menu-ul {
        justify-content: flex-start;
    }

    .menu-li {
        padding: 0% 12%;
    }

    .menu-li.mobile {
        display: none;
    }
}

.menu-ul, .menu-li {
    display: inline-block;
    list-style-type: none;
}

.menu-ul {
    display: inline-flex;
    width: 100%;
}

.menu-li {
    float: left;
    font-size: 1.1rem;
    font-weight: bold;
}
