@media (min-width: 650px) {
    .title-item {
        font-size: 1.125em;
    }
    .title-item.mobile {
        display: none;
    }
}

@media (max-width: 1300px) {
    .title-item {
        font-size: 0.9em;
    }
}

@media (max-width: 649px) {
    .title-item.desktop {
        display:none
    }
}

.title-item {
    display: inline-block;
    width: 30%;
    margin: 0% 5%;
    font-weight: bold;
    padding: 3% auto;
}

