@media (min-width: 650px) {
    .title-item.mobile {
        display: none;
    }
}

@media (max-width: 649px) {
    .title-item.desktop {
        display:none
    }
}

.title-item {
    display: inline-block;
    width: 30%;
    margin: 0% 5%;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 3% auto;
}

.title-link:link, .title-link:visited {
    color: black;
    text-decoration: none;
}