* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  border-bottom: 1px solid #C4C4C4;
  flex-wrap: wrap;
}
