.Menu {
    float: left;
    list-style: none;
}

.Menu a {
    display: block;
    height: 50px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.Menu a:hover {
    text-decoration: none;
}