* {
    box-sizing: border-box;
}

.NavigationContainer {
    position: relative;
    max-width: 1060px;
    height: 50px;
}

@media (min-width: 1200px) {
    .NavigationContainer {
        width: 87.72%;
        margin: 0 auto;
        height: 50px;
    }
}

nav {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

aside {
    height: 100%;
    padding: 9px 0;
}

.searchButton {
    position: relative;
    margin-top: 5px;
}