aside {
    display: block;
    height: inherit;
    padding: 9px 0;
}

ul {
    height: inherit;
}

.AsideMenu {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.buttons {
    background: none;
    border: none;
    margin-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

.searchButtonImg {
    width: 100%;
    height: 100%;
}

.leftDiv {
    display: inline-flex;
}

.leftDiv::before {
    display: block;
    content: "";
    width: 1px;
    height: 10px;
    background-color: #e1e2e3;
    margin: auto 10px;
}

.dashboardButton {
    font-size: 81.25%;
    color: #666;
    line-height: 30px;
    height: 60%;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin: 0 0 0 15px;
    font-weight: 400;
    text-decoration: inherit;
}