* {
    box-sizing: border-box;
}

aside {
    height: 100%;
    padding: 9px 0;
    display: block;
}

.AsideMenu {
    float: left;
    list-style: none;
    display: block;
}

.searchButton {
    background: none;
    border: none;
}

.searchButtonImg {
    width: 18px;
    height: 18px;
}